@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to ABC Inc Timesheet system</h2>

        <p><a asp-controller="Timesheets" asp-action="Index">View my timesheets</a></p>        
    </div>
</div>
